---
layout: post-index
title: The Visualization of Anti-Gentrification Rhetoric on Twitter
description: "Describe this nonsense."
comments: false
image:
  feature: abstract-1.jpg
  credit: Mike Bostock, D3 Steamgraph
  creditlink: https://gist.github.com/mbostock/4060954
---

{% for post in paginator.posts %}
<article class="hentry">
  <header>
    <div class="entry-image-index">
    {% if post.image.feature %}
        <a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}"><img src="{{ site.url }}/images/{{ post.image.feature }}" alt="{{ post.title }}"></a>
      </div><!-- /.entry-image -->
    {% endif %}
    <div class="entry-meta">
      <!--<span class="entry-date date published updated"><time datetime="{{ post.date | date_to_xmlschema }}"><a href="{{ site.url }}{{ post.url }}">{{ post.date | date: "%B %d, %Y" }}</a></time></span><span class="author vcard"><span class="fn"><a href="{{ site.url }}/about/" title="About {{ site.owner.name }}">{{ site.owner.name }}</a></span></span>-->
     <!-- {% if site.reading_time %}
      <span class="entry-reading-time">
        <i class="fa fa-clock-o"></i>
        {% include read-time-index.html %}
      </span> /.entry-reading-time 
      {% endif %}-->
    </div><!-- /.entry-meta -->
      <h2 class="entry-title">{{ post.title }}</h2>
  </header>
  <div class="entry-content">
    {{ post.content }}
  </div><!-- /.entry-content -->
</article><!-- /.hentry -->
{% endfor %}

{% include pagination.html %}