/* iframe css */

iframe.voyant {
    float: left;
    padding: 10px 10px 20px 10px;
}

@media only screen and (max-width: 800px) {
  iframe.voyant {
    float: none;
    padding: 5px;
    width: 100%;
  }
}

/* image css */

.feature-img {
  text-align: center;
  padding: 10px 0;
}

.page-img-left {
    float: left;
    padding-right: 20px;
}

.page-img-right {
    float: right;
    padding-left: 20px;
}

@media only screen and (max-width: 550px) {
  .page-img-left,
  .page-img-right {
      float: none;
      padding: 10px;
  }
  .page-img-left img,
   .page-img-right img,{
      width: 100% !important;
 }
}
.gallery {
    display: flex;
    flex-wrap: wrap;
}

/* header link css */

.entry-header h2 a {
    background: rgba(34,34,34,0.4);
    padding: 5px 10px;
    border: solid 1px black !important;
    position: relative;
    top: 100px;
    color: white;
    text-shadow: 1px 1px 4px rgba(34,34,34,0.6);
}

.entry-header h2 a:hover {
    background: rgba(34,34,34,0.8);
}

/* inpage next links */

a.next-page {
    background: rgba(162,162,162,0.4);
    border: solid 1px black;
    padding: 5px 10px;
    float: right;
    position: relative;
    bottom: 10px;
    color: black;
}

a.next-page:hover {
    background: rgba(162,162,162,0.8);
}

/* align post title */

@media only screen and (max-width: 2000px) {
.entry-image-index h2.entry-title {
    margin-left: 80px;
    margin-top: 80px;
    font-weight: bold;
  }
}

@media only screen and (max-width: 1000px) {
  .entry-image-index h2.entry-title {
      margin-left: 30px;
  }
}  

@media only screen and (max-width: 767px) {
  .entry-image-index h2.entry-title {
      margin-left: 15px;
  }
}

